header{
      text-align: left;
      text-decoration: none;
      color: white;
      font-size: 36px;
      font-family: Copperplate Gothic light;
    }
header img{
    border: 8px;
    border-color: antiquewhite;
    border-radius: 5%;
    text-decoration: none;
}
ul{
      text-align: center;
}
li{
    display: inline-flex;  
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px 20px 10px 20px;  
}
li img{
    height: 200px;
    width: 300px;
}
h1{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-width: black;
    color: aliceblue;
    text-decoration: none;
    margin-left: 80px;
    font-size: 100px;
    background: rgba(0,0,0,0.5);      
}
h2{
    color: lightblue;
    margin-left: 180px;
    background: rgba(0,0,0,0.5);
    font-size: 45px;
}
h4{
    font-size: 19px;
    text-decoration: underline;
    font-weight: bold !important;
}
h3 a:link{
    color:antiquewhite;
    text-decoration: none;
    font-size: 25px;
    -webkit-transition: font-size 0.25s;
}
h3 a:visited{
    color:aquamarine;
}
h3 a:hover{
    color:aqua;
    font-size: 26px;
}
h3 a:active{
    color:aliceblue;
}

h4 a:link{
    color:antiquewhite;
    text-decoration: none;
    font-size: 22px;
    -webkit-transition: font-size 0.25s;
}
h4 a:visited{
    color:#00cc99;
}
h4 a:hover{
    color: #00cc50;
    font-size: 23px;
}
h4 a:active{
    color:#00cc50;
}

body{
    background-color: black;
}
body a{
    text-decoration: none;
}
body img{
    border-color:aquamarine;
    border: 6px;
    border-radius: 5%;
    opacity: 0.55;
    -webkit-transition: opacity 0.7s;
}
body img:hover{
    opacity: 1;
}
footer{
    background: #111;
    text-align: center;
    margin: 0 100px;
    padding: 0px 30px;
}
@media (max-width: 500px) {
    li {
        display: block;
        text-decoration: none;
    }
    header{
        width: 96%;   
    }
    h1{
        font-size: 90%;
    }
}
